@tailwind base;
@tailwind components;

html {
  overflow: -moz-scrollbars-vertical; 
  overflow-y: scroll;   
}

a {
  @apply text-blue-700 border-b border-transparent;
}

a:hover {
  @apply text-customblue-400   border-b border-customred-100  border-opacity-75;
}

@tailwind components;

@tailwind utilities;

.content p {
  @apply my-6;
}

.content ul {
  @apply my-6;
}

.tooltip {
  @apply invisible absolute;
}

.has-tooltip:hover .tooltip {
  @apply visible z-50;
}

@tailwind utilities;

.frameForElementor {
  box-sizing: border-box;
  overflow: hidden;
  position: absolute;
  left: 0;
  width: 100%;
  line-height: 0;
  direction: ltr;
  transform: rotate(
180deg);
  position: absolute;
  bottom: 0px 
}

.elementor { 
    display: block;
    width: calc(100% + 1.3px);
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    transform: translateX(-50%);
    overflow: hidden;
    height: 52px;   
}

.elementor-shape-fill {   
  fill: white;    
  }
 
  @media (max-width: 767px) {    
  .elementor { 
       height: 22px;   
  } 
}

 